*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header section style  */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
}
.logo{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.logo-color{
    color: #FF900E;
}
nav ul{
    display: flex;
    gap: 35px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}
/* cover banner section style  */
.banner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
/* .banner-text{
    text-align: center;
    width: 700px;
} */
.banner-title{
    font-weight: 900;
    font-size: 64px;
    color: #131313;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 35px;
}
input[type=submit] {
    width: 180px;
    height: 64px;
    padding: 20px;
    background-color: #FF900E;
    color: white;
    border: 0;
    margin-bottom: 130px;
}
.banner-picture img{
    max-width: 1200px;
    width: 100%;
    margin-bottom: 130px;
}
/* Quick list features section style  */
.quick-list-features{
    margin: 0 130px;
    margin-bottom: 130px;
}
.quick-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.quick-list-images{
    display: grid;
    grid-template-columns: repeat(2,1Fr);
    gap: 5px;
}
.quick-list-images img{
    max-width: 300px;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 30px 30px;
}
.quick-list-text{
    max-width: 530px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-right: 120px;
}
.quick-title{
    font-weight: 500;
    font-size: 45px;
    padding-bottom: 24px;
}
.span1{
    color: #727272;
}
.span2{
    color: #FF900E;
}
.quick-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
/* feature section styles */
.features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1050px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 200px;
}
.features-title-container {
    width: 586px;
    width: 100%;
    width: 50%;
}

.features-main-title {
    max-width: 468px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding: 5px 0 24px 15px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.features-description {
    max-width: 586px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
    padding-right: 25px;
}

.features-sub-title-container {
    max-width: 586px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.features-sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.features-sub-description {
    max-width: 514px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #050404;
}

.feature-img-container img {
    max-width: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.feature-img-container button {
    width: 300px;
    height: 150px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    padding: 25px 42px;
    transform: translate(-70px, -80px);
}
.span3{
    font-size: 20px;
    color: #FFFFFF;
}
/* Some fact section styles */
.fact-container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 130px;
}
.fact-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
    color: #131313;
}
.fact-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 450px;
    margin-bottom: 100px;
}
.fact-images{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.for-border{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
.fact-images img{
    margin-bottom: 10px;
}
.count{
    font-weight: 600;
    font-size: 40px;
    color: #424242;
    margin-bottom: 5px;
}
.img-title{
    font-weight: 600;
    font-size: 20px;
    color: #424242
}
/* member section styles */
.member-list-comtainer{
    text-align: center;
    margin-bottom: 100px;
}
.member-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.member-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.member-picture{
    text-align: center;
}
.member-picture img{
    width: 250px;
    height: 250px;
}
.member-name{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
    color: #131313;
}
.member-position{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    margin-bottom: 10px;
}
/* sponspor section styles */
.sponspor-text{
    text-align: center;
    margin-top: 150px;
}
.sponsor-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.sponspor-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}
.sopnspor-logo{
    filter: grayscale(100%);
}
/* footer section styles */
.footer{
    height: 100px;
    background: #FFF4E7;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 250px;
}
.footer-text{
    text-align: center;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    padding: 50px 0;
}

/* For media quary */

/* For mobile devices */
@media only screen and (max-width: 576px) {
    .header, .banner{
        width: 500px;
        
    }
    .logo{
        font-size: 40px;
    }
    nav ul{
        flex-direction: column;
        gap: 15px;
    }
    /* Quick list features section  */
    
    .quick-list-images{
        grid-template-columns: repeat(2, 1Fr);
        gap: 10px;
        margin-bottom: 50px;
    }
    .quick-list-images img{
        width: 250px;
        height: 250px;
        margin-left: 5px;
    }
    .quick-list{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-items: center;
        justify-content: center;
        margin-left: 15px;
    }
    .quick-list-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 570px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .quick-title{
        width: 500px;
        padding-left: 50px;
        margin-left: 50px;
    }
    .quick-description{
        width: 400px;
        padding-left: 50px;
        margin-left: 50px;
    }
    #btn{
        margin-left: 100px;
    }
    .quick-list-text{
        text-align: center;
    }
    /* feature section  */
    .features-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        width: 50%;
    }
    .features-title-container{
        width: 450px;
    }
    .features-main-title{
        font-size: 35px;
        /* transform: translateX(-75px); */
    }
    .features-description{
        width: 400px;
        height: 150px;
        /* transform: translateX(-70px); */
        margin-bottom: 15px;
    }
    /* .features-sub-title-container{
        transform: translateX(-80px);
    } */
    .features-sub-description{
        width: 400px;
    }
    .feature-img-container img{
        max-width: 570px;
        width: 100%;
    }
    .feature-img-container button{
        transform: translate(-80px,-80px);
    }
    /* Some fact section  */
    .fact-container{
        max-width: 570px;
        width: 100%;
        /* text-align: center; */
        margin-left: 10px;
    }
    .fact-description{
        font-size: 14px;
        width: 400px;
    }
    .fact-images{
        width: 570px;
        display: grid;
        height: 300px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .for-border{
        width: 150px;
        height: 150px;
        margin-bottom: 0;
    }
    /* member section  */
    .members-container{
        width: 576px;
        margin-top: 130px;
        
    }
    .member-list-comtainer{
        text-align: center;
    }
    .member-images{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        max-width: 576px;
        width: 100%;
    }
    .member-picture img{
        width: 200px;
        height: 200px;
    }
    .member-name{
        font-size: 24px;
    }
    .member-position{
        font-size: 16px;
    }
    /* sponspors secion */
    .sponspor-text{
        margin-top: 200px;
        width: 500px;
        margin-left: 40px;
    }
    .sopnspor-logo{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;

    }
    /* footer section  */
    .footer{
        width: 576px;
        text-align: center;
    }
}  